@model HotelBooker.ViewModels.ReviewsCreateEditVM

@{
    ViewData["Title"] = "New review";
}

<h1>Add a new review</h1>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_CreateEdit"/>
            

            <div class="form-group">
                <input hidden="hidden" asp-for="Review.HotelId"/>
                <input hidden="hidden" asp-for="Review.RoomTypeId"/>
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}