<template>
    <h1>Edit</h1>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h4>${_roomType.type}</h4>
    <hr/>

    <div class="row">
        <div class="col-md-4">
            <form method="post" submit.trigger="onSaveClicked($event)">
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <input id="name" class="form-control" type="text" value.bind="_roomTypeDetails.roomType.type" required />
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <textarea id="description" class="form-control" type="text" value.bind="_roomTypeDetails.roomType.description"></textarea>
                </div>
                <div class="form-group" if.bind="_hotelId === undefined">
                    <label class="control-label" for="hotel">Hotel</label>
                    <select id="hotel" class="form-control" value.bind="_roomTypeDetails.roomType.hotelId" required >
                        <option repeat.for="hotel of _hotels" model.bind="hotel.id">${hotel.name}</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a route-href="route: roomtypes-index; params.bind: { hotelId: _roomType.hotelId }">Back to List</a>
    </div>
</template>
