<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>${_ownerCompany.name}</h4>
        <hr/>

        <dl class="row">
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                ${_ownerCompany.name}
            </dd>
        </dl>

    </div>
    <div>
        <a class="btn btn-outline-info" route-href="route: ownercompany-edit; params.bind: { id: _ownerCompany.id }">Edit</a>
        <a class="btn btn-primary" route-href="route: ownercompanies-index;">Back to List</a>
    </div>
</template>
