<template>
    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <hr/>
    <div if.bind="_loading" class="spinner-border text-primary" role="status"></div>
    <dl class="row">
        <dt class="col-sm-2">
            Room number
        </dt>
        <dd class="col-sm-10">
            ${_room.roomNumber}
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            ${_room.description}
        </dd>
        <dt class="col-sm-2">
            Hotel
        </dt>
        <dd class="col-sm-10">
            ${_room.hotelName}
        </dd>
        <dt class="col-sm-2">
            Room type
        </dt>
        <dd class="col-sm-10">
            ${_room.roomTypeName}
        </dd>
    </dl>

    <form submit.trigger="onDeleteClicked($event)">
        <input if.bind="!_deleting" type="submit" value="Delete" class="btn btn-danger"/>
        <button if.bind="_deleting" class="btn btn-danger" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Deleting...
        </button>
        <a route-href="route: rooms-index; params.bind: { }" class="btn btn-primary">Back to List</a>
    </form>

</template>
