<template>
    <h1>Currencies</h1>

    <p>
        <a route-href="route: currency-create; params.bind: {}">Add New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="currency of _currencies">
            <td>
                <a route-href="route: currency-details; params.bind: { id: currency.id }">
                    ${currency.name}
                </a>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-primary" route-href="route: currency-edit; params.bind: { id: currency.id }">
                        Edit
                    </a>
                    <a class="btn btn-outline-danger" route-href="route: currency-delete; params.bind: { id: currency.id }">
                        Delete
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>
