@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>to</h3>
    <h2 class="display-2">HotelBooker</h2>
    <p>Read the backend <a href="/swagger/">RESTful api docs!</a></p>
</div>
