<template>

    <require from="../../components/alert"></require>

    <alert alert-data.bind="_alert"></alert>

    <h1>Details</h1>

    <div>
        <h4>${_productGroup.name}</h4>
        <hr/>

        <dl class="row">
            <dt class = "col-sm-2">
                Name
            </dt>
            <dd class = "col-sm-10">
                ${_productGroup.name}
            </dd>
            <dt class = "col-sm-2">
                Description
            </dt>
            <dd class = "col-sm-10">
                ${_productGroup.description}
            </dd>
        </dl>

    </div>
    <div>
        <a class="btn btn-outline-info" route-href="route: productgroup-edit; params.bind: { id: _productGroup.id }">Edit</a>
        <a class="btn btn-primary" route-href="route: productgroups-index; params.bind: {}">Back to List</a>
    </div>

</template>
