<template>
    <h1>Conveniences</h1>

    <p>
        <a route-href="route: convenience-create; params.bind: {}">Add New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Name
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="convenience of _conveniences">
            <td>
                <a route-href="route: convenience-details; params.bind: { id: convenience.id }">
                    ${convenience.name}
                </a>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-primary" route-href="route: convenience-edit; params.bind: { id: convenience.id }">
                        Edit
                    </a>
                    <a class="btn btn-outline-danger" route-href="route: convenience-delete; params.bind: { id: convenience.id }">
                        Delete
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>
