@model BLL.App.DTO.Convenience

@{
    ViewData["Title"] = "Convenience's details";
}

<h1>Details</h1>

<div>
    <h4>Convenience</h4>
    <hr />
    <partial name="_DetailsDelete"/>
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
